<!-- timetable region-->
 <!--classestorender, currentlyChosenClasses, conflictsIDs, conflictDays, blamedConflicts-->
 <style>
    .fixed-table {
        table-layout: fixed;
        width: 100%;
    }
</style>
<div class="container">
    <div id="chosenclasstable">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Professor</th>
                    <th scope="col">Code</th>
                </tr>
            </thead>
            <tbody>
                <% for (const [idx, classItem] of currentlyChosenClasses.entries()) { %>
                    <tr class="<%= (conflictsIDs.includes(classItem.id)) ? 'table-danger' : '' %>">
                        <th scope="row"><%= idx + 1 %></th>
                        <td><%= classItem.name %></td>
                        <td>
                            <span class="text-truncate d-inline-block w-100" style="max-width: 150px;">
                                <%= classItem.professor %>
                            </span>
                        </td>
                        <td>
                            <button class="btn btn-secondary" id="classButton<%= idx %>" type="button" onclick="deleteClass(<%= classItem.id %>); fetchTimetable();">
                                Delete
                            </button>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>
<hr>
<div class="container">
    <% if (conflictsIDs.length > 0){
        %> <div class="alert alert-danger" role="alert">
            There were conflicts between your classes! : <%= blamedConflicts.map(([cls1, cls2, day]) => `${cls1.code}-${cls2.code}  (${day.day} ${day.start}-${day.end})`).toString().replaceAll(",", " || ") %>
          </div>
    <% } %>
    <% if (timetable.aproxHourList.length == 0){
        %> <div class="alert alert-warning" role="alert">
            Your timetable is empty!
          </div>
    <% } %>

    <div id="chosenclasstable">
        <table class="table table-bordered table-hover fixed-table small">
            <thead class="table-dark">
                <tr>
                    <th style="width: 1%;">Time</th>
                    <th style="width: 1%;">Seg</th>
                    <th style="width: 1%;">Ter</th>
                    <th style="width: 1%;">Qua</th>
                    <th style="width: 1%;">Qui</th>
                    <th style="width: 1%;">Sex</th>
                </tr>
            </thead>
            <tbody>
                <% timetable.aproxHourList.forEach(hour => { %>
                    <tr>
                        <td><%= hour %></td> <!-- Display the hour slot -->
                        
                        <% ['seg', 'ter', 'qua', 'qui', 'sex'].forEach(day => { %>
                            <% 
                            const scheduleDay = timetable.table[day]?.[hour];
                            %>
                            
                            <td class="<%= scheduleDay ? 'text-white' : '' %>" <%= (scheduleDay) ? `style=background-color:${scheduleDay.class.colorCode}` : ""%>>
                                <% if (scheduleDay) { %>
                                    <!-- Truncate text inside the cell -->
                                    <div class="text-truncate" style="max-width: 100%;">
                                        <%= scheduleDay.class.name %> - <%= scheduleDay.code %>
                                    </div>
                                <% } %>
                            </td>
                        <% }) %>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        
</div>